.container {
	display: flex;
	gap: 8px;
	flex-direction: column;
	align-items: center;
}

.container strong {
	font-size: 24px;
	font-weight: bold;
	color: var(--white);
	line-height: 100%;
}

.container span {
	color: var(--light);
	font-weight: bold;
	font-size: 20px;
	line-height: 100%;
}
